<div class="ui raised segment">
  <h2 class="us header"> Demo Form: Sku with Builder </h2>
  <p>
    But to bind to an existing FormGroup and FormControl s use:
    • formGroup and
    • formControl
  </p>
  <form [formGroup]="myForm"
        (ngSubmit)="onSubmit(myForm.value)"
        class="ui form">

    <div class="field">
      <label for="skuInput">SKU</label>
      <input type="text"
             id="skuInput"
             placeholder="SKU"
             [formControl]="myForm.controls['sku']">
    </div>

    <button type="submit" class="ui button"> Submit</button>
  </form>
</div>
